body {
	background-color: #303030;
}

.App {
	width: 100vw;
	display: grid;
	grid-auto-rows: auto;
	grid-template-columns: [full-start] 1fr [content-start] minmax(auto, 5fr) [content-end] 1fr [full-end];
	grid-gap: 10px;
}

.App > h1 {
	text-align: center;
	grid-column: full;
	background-color: #212121;
	color: white;
	margin: 0 0 5px 0;
	padding: 0.5em;
	box-shadow: 2px 2px 5px 0px #000000;
}

.App > div {
	grid-column: content;
}

.button {
	display: inline-block;
	background: #5FB3B0;
	background-image: linear-gradient(to left top, #5FB3B0, #79C3BF);
	border-radius: 1.5em;
	padding: 1em 2em;
	margin: 1em;
	text-decoration: none;
	box-shadow: 0px 0px 5px 0px #212121;
	cursor: pointer;
}

.button:hover {
	background: #79C3BF;
	background-image: linear-gradient(to left top, #79C3BF, #69d0d0);
}
